@font-face {
        font-family: 'Odin Rounded';
        src: url('./media/Odin-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'TightSpot BB';
        src: url('./media/TightSpotBB-BoldItalic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: 'Odin Rounded';
        src: url('./media/odin-rounded.regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Odin Rounded';
        src: url('./media/odin-rounded.light.woff') format('woff');
        font-weight: lighter;
        font-style: normal;
    }

    /* Black background layer */
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -2;
    }

    /* Background image overlay */
    .background {
        position: fixed;
        top: -20px;
        left: -20px;
        width: 120%;
        height: 120%;
        opacity: 80%;
        background: url("/media/urname.png") no-repeat center center;
        background-size: cover;
        filter: blur(3px);
        z-index: -1;
    }

    .odinbold {
        font-family: 'Odin Rounded';
        font-weight: bold;
        font-style: normal;
    }

    .tightspotbolditalic {
        font-family: 'TightSpot BB';
        font-weight: bold;
        font-style: italic;
    }

    .odinregular {
        font-family: 'Odin Rounded';
        font-weight: normal;
        font-style: normal;
    }

    .odinlight {
        font-family: 'Odin Rounded';
        font-weight: lighter;
        font-style: normal;
    }

    .animetext {
        -webkit-text-stroke: 1px #000000;
    }

    .titillium-web-extralight {
        font-family: "Titillium Web", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .titillium-web-light {
        font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .titillium-web-regular {
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .titillium-web-semibold {
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .titillium-web-bold {
        font-family: "Titillium Web", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .titillium-web-black {
        font-family: "Titillium Web", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .titillium-web-extralight-italic {
        font-family: "Titillium Web", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .titillium-web-light-italic {
        font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .titillium-web-regular-italic {
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .titillium-web-semibold-italic {
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .titillium-web-bold-italic {
        font-family: "Titillium Web", sans-serif;
        font-weight: 700;
        font-style: italic;
    }