<!-- skeleton for header -->
{% block header %}
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<div class="navbar bg-black bg-opacity-50 text-white">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl odinbold" href="/">Home</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1 text-lg">
            <li><a href="/events" class="odinregular">Events</a></li>
            <li><a href="/news" class="odinregular">News</a></li>
            <li><a href="/officers" class="odinregular">Staff</a></li>
        </ul>
    </div>
</div>
{% endblock %}