<html data-theme="light">

<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preload" href="./media/Odin-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./media/TightSpotBB-BoldItalic.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="./media/Odin-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./media/TightSpotBB-BoldItalic.woff" as="font" type="font/woff" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='og:title' content='Northwood High School Anime Club'>
    <meta name='og:type' content='website'>
    <meta name='og:url' content='https://nac.moe'>
    <meta name='og:image' content='https://nac.moe/media/lovebulletjoinanimeclub.png'>
    <meta name='og:site_name' content='NAC'>
    <meta name='og:description' content='Northwood High School Anime Club'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=stat_minus_3" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Northwood High School Anime Club</title>
</head>
<style>
    @font-face {
        font-family: 'Odin Rounded';
        src: url('./media/Odin-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'TightSpot BB';
        src: url('./media/TightSpotBB-BoldItalic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: 'Odin Rounded';
        src: url('./media/odin-rounded.regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Odin Rounded';
        src: url('./media/odin-rounded.light.woff') format('woff');
        font-weight: lighter;
        font-style: normal;
    }

    /* Black background layer */
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: -2;
    }

    /* Background image overlay */
    .background {
        position: fixed;
        top: -20px;
        left: -20px;
        width: 120%;
        height: 120%;
        opacity: 80%;
        background: url("/media/background.png") no-repeat center center;
        background-size: cover;
        filter: blur(8px);
        z-index: -1;
    }

    .odinbold {
        font-family: 'Odin Rounded';
        font-weight: bold;
        font-style: normal;
    }

    .tightspotbolditalic {
        font-family: 'TightSpot BB';
        font-weight: bold;
        font-style: italic;
    }

    .odinregular {
        font-family: 'Odin Rounded';
        font-weight: normal;
        font-style: normal;
    }

    .odinlight {
        font-family: 'Odin Rounded';
        font-weight: lighter;
        font-style: normal;
    }

    .animetext {
        -webkit-text-stroke: 1px #000000;
    }
</style>

<body>
    <div class="background"></div>
    <section class="h-screen flex flex-col">
        <header>
            {% include 'skel.html' %}
            {% block header %}{% endblock %}
        </header>
        <div class="flex items-center justify-center flex-grow">
            <div class="text-center">
                <p class="text-5xl font-bold mx-5">
                    <span class="odinbold text-white"
                        style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Welcome
                        to</span>
                    <span class="odinbold text-[#000080]"
                        style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Northwood</span>
                    <span class="tightspotbolditalic text-7xl md:text-8xl text-white animetext"
                        style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Anime Club</span>
                </p>
                <div style="margin-top:20px;"></div>
                {% if meeting_date %}
                <span class="odinbold text-3xl text-white"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Our
                    next meeting will be on</span>
                <span class="odinbold text-3xl text-[#000080]"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">&nbsp;{{meeting_date}}</span>
                {% else %}
                <span class="odinbold text-3xl text-white"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Our next meeting has not been scheduled
                    yet!</span>
                {% endif %}
                <div class="flex justify-center mt-7 odinregular gap-3">

                    <div class="tooltip" data-tip="This will redirect you to Google Forms">
                        <a href="/reg" class="btn bg-[#F4ACB7] btn-ghost hover:bg-[#D0929B] text-xl">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#000000">
                                <path
                                    d="M200-246q54-53 125.5-83.5T480-360q83 0 154.5 30.5T760-246v-514H200v514Zm280-194q58 0 99-41t41-99q0-58-41-99t-99-41q-58 0-99 41t-41 99q0 58 41 99t99 41ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm69-80h422q-44-39-99.5-59.5T480-280q-56 0-112.5 20.5T269-200Zm211-320q-25 0-42.5-17.5T420-580q0-25 17.5-42.5T480-640q25 0 42.5 17.5T540-580q0 25-17.5 42.5T480-520Zm0 17Z" />
                            </svg>
                            Registration
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center text-white odinbold text-2xl mb-5"
            style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
            <span class="mb-5">Scroll Down For More Info</span>
            <br>
            <span class="material-symbols-outlined text-xl">
                stat_minus_3
            </span>
        </footer>
    </section>

    <section
        class="h-screen md:grid grid-cols-2 justify-center justify-items-center items-center place-items-center md:mx-5">
        <div class="flex justify-center items-center">
            <div class="w-8/12">
                <img src="./media/csmwhatisanimeclub.png" />
                <div class="text-white odinbold text-md md:text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    Chainsaw Man by Fujimoto Tatsuki | Vol. 1, Ch. 2 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center bg-cover bg-center text-white">
            <div class="w-11/12 max-w-md text-center">
                <p class="odinbold text-white text-3xl md:text-5xl mt-10 md:mt-0"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    {{site_vars.default_what}}
                </p>
            </div>
        </div>
    </section>
    <section
        class="h-screen md:grid grid-cols-2 justify-center justify-items-center items-center place-items-center mt-20 md:mt-0 md:mx-5">
        <div class="order-2 flex justify-center items-center">
            <div class="w-10/12">
                <img src="./media/lovebulletwhereanimeclub.png" />
                <div class="text-white odinbold text-md md:text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    LOVE BULLET by inee | Vol. 1, Ch. 1 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
        <div class="order-1 flex flex-col items-center justify-center bg-cover bg-center text-white mt-5 md:mt-0">
            <div class="w-11/12 max-w-md text-center mx-auto">
                <p class="odinbold text-white text-3xl md:text-5xl"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    Where: {{site_vars.default_loc}} <br>
                    When: {{site_vars.default_dt}}
                </p>
            </div>
        </div>
    </section>
    <section
        class="h-screen md:grid grid-cols-2 justify-center justify-items-center items-center place-items-center md:mx-5">
        <div class="flex justify-center items-center">
            <div class="w-10/12">
                <img src="./media/catlikeclassmatewhyshouldijoin.png" />
                <div class="text-white odinbold text-md md:text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    Learning to Love My Cat-like Classmate by Akinoko | Vol. 1, Ch. 6 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center bg-cover bg-center text-white">
            <div class="w-11/12 max-w-md text-center mx-auto">
                <p class="odinbold text-white text-3xl md:text-5xl mt-10 md:mt-0"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    {{site_vars.default_why}}
                </p>
            </div>
        </div>
    </section>
    <section id="news"
        class="h-screen md:grid grid-cols-2 justify-center justify-items-center items-center place-items-center mt-20 md:mt-0 md:mx-5">
        <div class="order-2 flex justify-center items-center mt-5 md:mt-0">
            <div class="w-10/12">
                <img src="./media/wanderspacenews.png" />
                <div class="text-white odinbold text-md md:text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    After School, We Wander in Space by Saitou Yuu | Vol. 1, Ch. 1 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
        <div class="order-1 flex flex-col items-center justify-center bg-cover bg-center text-white">
            <div class="w-12/12 lg:mx-20">
                <div class="card bg-base-100 h-auto min-h-[60svh] lg:min-w-[45svw] min-w-[90svw] mt-5 lg:mt-0">
                    <div class="card-body">
                        <h2 class="card-title text-black odinbold text-3xl">News (beta)</h2>
                        <div class="divider mt-0 mb-2">
                        </div>
                        <div
                            class="overflow-y-scroll h-[60svh] scrollbar scrollbar-thumb-gray-500 scrollbar-track-gray-200">
                            {% if all_news|length == 0 %}
                            <div class="text-center">
                                <p class="odinregular text-2xl text-black">No news yet...</p>
                            </div>
                            {% endif %}
                            {% for news in all_news %}
                            <div class="mb-5">
                                <p class="odinbold text-black text-xl">{{news.title}}</p>
                                <p class="odinregular text-black">{{news.content | safe}}</p>
                                <p class="text-sm text-black text-end">Posted on {{news.date.strftime('%B %d, %Y')}} by
                                    {{news.author}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- center a button saying view more news -->
            <div class="col-span-2 flex justify-center mt-5 odinregular">
                <a href="/news" class="btn bg-[#F4ACB7] btn-ghost hover:bg-[#D0929B] text-xl text-black">View More
                    News<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#000000">
                        <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                    </svg></a>
            </div>
        </div>
    </section>
    <section class="h-screen flex flex-col">
        <div class="flex justify-center items-center flex-grow">
            <div class="flex flex-col items-center">
                <img class="w-10/12" src="./media/lovebulletjoinanimeclub.png" />
                <div class="text-white odinbold text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    LOVE BULLET by inee | Vol. 1, Ch. 0 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
        <footer class="text-center text-white odinbold text-lg my-10 mx-10"
            style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
            Made with ❤️ by the Northwood High School Anime Club
            <br>
            © <img src="/media/onestudioslogo_blackwhite.png" class="h-4 inline-block pb-1" /> studios 2025
        </footer>
    </section>


</body>
<script>
    $(window).scroll(function () {
        var topscroll = $(this).scrollTop();
        var screenheight = $(window).height();
        var calculate_opacity = 1 - (topscroll / screenheight) > 0.7 ? 1 - (topscroll / screenheight) : 0.7;

        $(".background").css("top", -topscroll / 50);
        $(".background").css("opacity", calculate_opacity);
    });
</script>

</html>