<html data-theme="black">

<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preload" href="./media/Odin-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./media/TightSpotBB-BoldItalic.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="./media/Odin-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./media/TightSpotBB-BoldItalic.woff" as="font" type="font/woff" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='og:title' content='Northwood High School Anime Club'>
    <meta name='og:type' content='website'>
    <meta name='og:url' content='https://nac.moe'>
    <meta name='og:image' content='https://nac.moe/media/lovebulletjoinanimeclub.png'>
    <meta name='og:site_name' content='NAC'>
    <meta name='og:description' content='Northwood High School Anime Club'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=stat_minus_3" />
    <title>Northwood High School Anime Club</title>
</head>
<style>
    @font-face {
        font-family: 'Odin Rounded';
        src: url('./media/Odin-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'TightSpot BB';
        src: url('./media/TightSpotBB-BoldItalic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
    }
    
    body {
        margin: 0;
        height: 100vh;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 110%;
        height: 110%;
        background: url("./media/background.png") no-repeat center center;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }

    .odinbold {
        font-family: 'Odin Rounded';
        font-weight: bold;
        font-style: normal;
    }

    .tightspotbolditalic {
        font-family: 'TightSpot BB';
        font-weight: bold;
        font-style: italic;
    }

    .animetext {
        -webkit-text-stroke: 1px #000000;
    }
</style>

<body>
    <div class="background"></div>
    <section class="h-screen flex flex-col">
        <div class="flex items-center justify-center flex-grow">
            <div class="text-center">
                <p class="text-5xl font-bold mx-5">
                    <span class="odinbold text-white"
                        style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Welcome
                        to</span>
                    <span class="odinbold text-[#000080]"
                        style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Northwood</span>
                    <span class="tightspotbolditalic text-7xl md:text-8xl text-white animetext"
                        style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Anime Club</span>
                </p>
                <div style="margin-top:20px;"></div>
                <span class="odinbold text-3xl text-white"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">Our
                    next meeting will be on</span>
                <span class="odinbold text-3xl text-[#000080]"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">2/4/2025</span>
            </div>
        </div>
        <footer class="text-center text-white odinbold text-2xl mb-5"
            style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
            <span class="mb-5">Scroll Down</span>
            <br>
            <span class="material-symbols-outlined text-xl">
                stat_minus_3
            </span>
        </footer>
    </section>

    <section
        class="h-screen md:grid grid-cols-2 justify-center justify-items-center items-center place-items-center md:mx-5">
        <div class="flex justify-center items-center">
            <div class="w-8/12">
                <img src="./media/csmwhatisanimeclub.png" />
                <div class="text-white odinbold text-md md:text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    Chainsaw Man by Fujimoto Tatsuki | Vol. 1, Ch. 2 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center bg-cover bg-center text-white">
            <div class="w-11/12 max-w-md text-center mx-auto">
                <p class="odinbold text-white text-3xl md:text-5xl" style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    A club at NHS for fans of Anime (Animations that are created in Japan) and Manga (Comics that are
                    created in Japan)
                </p>
            </div>
        </div>
    </section>
    <section
        class="h-screen md:grid grid-cols-2 justify-center justify-items-center items-center place-items-center mt-20 md:mt-0 md:mx-5">
        <div class="flex flex-col items-center justify-center bg-cover bg-center text-white">
            <div class="w-11/12 max-w-md text-center mx-auto">
                <p class="odinbold text-white text-3xl md:text-5xl" style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    Where: Ms. Tyo's Room (1207)<br>
                    When: Every 1st and 3rd Tuesday of the Month
                </p>
            </div>
        </div>
        <div class="flex justify-center items-center mt-5 md:mt-0">
            <div class="w-10/12">
                <img src="./media/lovebulletwhereanimeclub.png" />
                <div class="text-white odinbold text-md md:text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    LOVE BULLET by inee | Vol. 1, Ch. 1 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
    </section>
    <section
        class="h-screen md:grid grid-cols-2 justify-center justify-items-center items-center place-items-center md:mx-5">
        <div class="flex justify-center items-center">
            <div class="w-10/12">
                <img src="./media/catlikeclassmatewhyshouldijoin.png" />
                <div class="text-white odinbold text-md md:text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    Learning to Love My Cat-like Classmate by Akinoko | Vol. 1, Ch. 6 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center bg-cover bg-center text-white">
            <div class="w-11/12 max-w-md text-center mx-auto">
                <p class="odinbold text-white text-3xl md:text-5xl" style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    We host fun events, games, and watch-parties! Anime Club is also a great place to make new like-minded friends!
                </p>
            </div>
        </div>
    </section>
    <section class="h-screen flex flex-col">
        <div class="flex justify-center items-center flex-grow">
            <div class="flex flex-col items-center">
                <img class="w-10/12" src="./media/lovebulletjoinanimeclub.png" />
                <div class="text-white odinbold text-lg text-center"
                    style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
                    LOVE BULLET by inee | Vol. 1, Ch. 0 | Typeset/Edit: Priansh
                </div>
            </div>
        </div>
        <footer class="text-center text-white odinbold text-lg my-10"
            style="filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));">
            Made with ❤️ by the Northwood High School Anime Club
            <!-- signed, primitt -->
        </footer>
    </section>


</body>

</html>